@import '../../../scss/header';

.controller-axis {
  position: relative;

  width: 200px;
  height: 200px;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  h2,
  .cords {
    position: absolute;
    z-index: 10;
  }

  h2 {
    top: 5px;
    left: 5px;

    text-transform: capitalize;
  }

  .cords {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.dark .controller-axis {
  --axis-forground: #{$axis-forground-dark};
  --axis-background: #{$axis-background-dark};
  --axis-grid: #{$axis-grid-dark};

  background: $axis-background-dark;
  color: $axis-text-dark;

  canvas {
    border: 1px solid $axis-forground-dark;
  }
}

.light .controller-axis {
  --axis-forground: #{$axis-forground-light};
  --axis-background: #{$axis-background-light};
  --axis-grid: #{$axis-grid-light};

  background: $axis-background-light;
  color: $axis-text-light;

  canvas {
    border: 1px solid $axis-forground-light;
  }
}
