@import '../../../scss/header';

.button {
  .pressedStrength {
    width: 10px;
    height: 10px;
  }

  &.pressed .pressedStrength {
    background-color: $pressed-light;
  }

  &.pressed svg {
    circle,
    rect,
    path {
      fill: $pressed-light;
    }
  }
}

.dark .button {
  &.pressed .pressedStrength {
    background-color: $pressed-dark;
  }

  &.pressed svg {
    circle,
    rect,
    path {
      fill: $pressed-dark;
    }
  }
}
