@import '../../../scss/header';

.controller {
  .controller-axises {
    display: flex;
    justify-content: space-between;
  }

  .controller-layout svg {
    width: 100%;
    height: auto;
  }
}

.dark .controller-layout {
  svg {
    path,
    circle,
    rect {
      stroke: $outline-dark;
    }

    &#icon {
      path,
      circle,
      rect {
        stroke: $outline-dark;
      }
    }
  }
}

.light .controller-layout {
  svg {
    path,
    circle,
    rect {
      stroke: $outline-light;
    }

    &#icon {
      path,
      circle,
      rect {
        stroke: $outline-light;
      }
    }
  }
}
