.controller {
  .controller-axises {
    display: flex;
    justify-content: space-between;
  }

  .controller-layout svg {
    width: 100%;
    height: auto;
    path,
    circle,
    rect {
      stroke: black;
    }
  }
}
