.button {
  width: 5%;

  .pressedStrength {
    width: 10px;
    height: 10px;
  }

  &.pressed .pressedStrength {
    background-color: red;
  }

  &.pressed svg {
    circle,
    path {
      fill: red;
    }
  }
}
