$background-dark: #333;
$outline-dark: #ccc;
$pressed-dark: blue;
$axis-background-dark: #222;
$axis-text-dark: lime;
$axis-forground-dark: lime;
$axis-grid-dark: #ccc;

$background-light: #ccc;
$outline-light: #333;
$pressed-light: green;
$axis-background-light: #ccc;
$axis-text-light: lime;
$axis-forground-light: lime;
$axis-grid-light: #eee;
